.red{
    width: 100vw;
    height: 10vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blue{
    width: 100vw;
    height: 10vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.green{
    width: 100vw;
    height: 10vh;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
}