.confirmar{
    margin-left: 10px;
    padding: 15px 25px;
    background: red;
    border-radius: 20px;
}

.cancelar{
    margin-left: 10px;
    padding: 15px 25px;
    background: green;
    border-radius: 20px;
}